body {
    font-family: Roboto, sans-serif;
    margin: 0;
    transition: opacity ease-in 0.2s;
}

main {
    padding: 16px;
}

.unresolved mwc-drawer {
    opacity: 0;
}
#drawer {
    --mdc-drawer-width: 500px;
}

#video {
    width: var(--mdc-drawer-width);
}